.env.local
.env.development
.env.production
.env.test
.env
.env.staging
.env.development.local
.env.production.local
.env.test.local
.env.staging.local
node_modules
logs/
*.log
combined.log
error.log
.wwebjs_cache/
.git/
node_modules/